<div class="nav-right">
  <% if user_signed_in? %>
    <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'nav-home deco-home'  %>
    <%= link_to 'Vote', categories_path, class: 'nav-home' %>
  <% else %>
    <%= link_to "S'inscrire", new_user_registration_path, class: 'nav-home deco-home' %>
    <%= link_to "Se connecter", new_user_session_path, class: 'nav-home' %>
  <% end %>
</div>
