<div class="logo-centered">
  <%= svg 'cesar' %>
  <div class="logo-robix">
    <p class="x">x</p>
    <p class="logo">Robix Prod.</p>
  </div>
</div>
<div class="vote-button">
  <%= link_to 'Vote now', category_path(@category), class: 'btn-home'  %>
</div>

