body {
  background-color: #050302;
}

.category-title {
  color: #FEDE1E;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 3rem;
}

.points-title {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
}
