body {
  background-color: #050302;
}

.category-title {
  color: #FEDE1E;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 3rem;
}

.points-title {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
}

.vote-button-show {
  text-align: center;
  padding: 0.5rem 5rem;
  width: 100px;
  margin: 0 auto;
  background-color: #FEDE1E;
  position: relative;
  height: 3rem;
  .vote-button-link {
    padding: 0.7rem 4rem;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #050302;
    text-transform: uppercase;
  }
}
