<div class="main-index">
  <div class="container">
    <h1 class="category-title">Nominations Césars 2020</h1>
    <div class="category-list">
      <ul>
        <% @categories.each do |category| %>
          <%= link_to category do %>
            <li><%= category.title %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
